doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina


            form#formulario.caja.caja-login(method = "POST" action="/iniciar-sesion")
                .campo
                    label(for="email") E-mail
                    input(type="email" name="email" placeholder="E-mail" value= email) 
                .campo
                    label(for="password") Password
                    input(type="password" name="password" placeholder="Password" value= password)
                .campo.enviar
                    input(type="submit" value="INICIAR SESION")
                .campo 
                    a(href="/crear-cuenta") ¿Aún no tienes cuenta? crea una gratis
