mixin crearProyecto(proyecto={})
    form.agregar-proyecto(action=`/nuevoProyecto/${proyecto.id || '' }` method="POST")
                .campo  
                    label(for="nombre") Nombre Proyecto:
                    input#nombre( value =`${proyecto.nombre || ''}` type="text", name="nombre" placeholder="Nombre Proyecto")
                .campo-enviar 
                    input(type="submit" value=`${proyecto.nombre ? 'Guardar' : 'Agregar'}`).boton


<!-- Create or edit
    mixins: 
        mixin pet(name)
    li.pet= name


    ul
    +pet('cat')
    +pet('dog')
    +pet('pig')

    ----- compiled to :
    <ul>
        <li class="pet">cat</li>
        <li class="pet">dog</li>
        <li class="pet">pig</li>
    </ul>




--->