mixin crearProyecto(proyecto={})
    form.agregar-proyecto(action=`/nuevoProyecto/${proyecto.id || '' }` method="POST")
                .campo  
                    label(for="nombre") Nombre Proyecto:
                    input#nombre( value =`${proyecto.nombre || ''}` type="text", name="nombre" placeholder="Nombre Proyecto")
                .campo-enviar 
                    input(type="submit" value=`${proyecto.nombre ? 'Guardar' : 'Agregar'}`).boton


<!-- Create or edit--->